<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="FIT5042Assignment">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="FIT5042Assignment-common.jar" deploy-path="/lib" handle="module:/resource/FIT5042Assignment-common/FIT5042Assignment-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="FIT5042Assignment-ejb.jar" deploy-path="/" handle="module:/resource/FIT5042Assignment-ejb/FIT5042Assignment-ejb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="FIT5042Assignment-war.war" deploy-path="/" handle="module:/resource/FIT5042Assignment-war/FIT5042Assignment-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
