<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>AUS Printing Application</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   AUS Printing - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="NEW Customer Information"/></h1>
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200">
                            <h:outputLabel value="firstname" for="firstname" />
                        </td>
                        <td>
                            <h:inputText id="firstname" value="#{customer.firstName}" title="firstname" required="true"
									requiredMessage="Please enter customer first name!"
									pt:placeholder="FirstName" />
						 <br/> 
								 <h:message for="firstname" class="#{!firstname.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="lastname" for="lastname" />
                        </td>
                        <td>
                            <h:inputText id="lastname" value="#{customer.lastName}" title="lastname" required="true"
									requiredMessage="Please enter customer last name!"
									pt:placeholder="LastName" />
						 <br/> 
								 <h:message for="lastname" class="#{!lastname.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>
                   

                </table>

                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" />
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />

            </h:form>

        </f:view>
            </div>
        </div>

    </h:body>
</html>
