<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<ui:include src="/Navigation.xhtml">
	</ui:include>

	<div class="container">
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>
					<table class="table table-bordered ">

						<tr>
							<td width="200"><h:outputLabel value="Customer ID" for="ID" /></td>
							<td><h:outputText id="ID"
									value="#{addContactPerson.customerid}" title="ID" /></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="Name" for="name" /></td>
							<td><h:inputText id="name"
									value="#{addContactPerson.contactPerson.name}" title="Name" />
								<h:message for="name " style="color: red" /></td>


						</tr>

						<tr>
							<td><h:outputLabel value="Phone Number" for="phoneNumber" />
							</td>
							<td><h:inputText id="phoneNumber"
									value="#{addContactPerson.contactPerson.phoneNumber}"
									title="Phone Number" /> <h:message for="phoneNumber "
									style="color: red" bind="phoneNumber" /></td>


						</tr>

					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addContactPerson.addContactPerson()}"
						class="btn btn-primary">
						<!-- 						<f:param name="customerIndex"
							value="#{addContactPerson.customerid}" /> -->
<!-- 						<f:param name="customerID" value="#{addContactPerson.customerid}" />
 -->					</h:commandButton>
					<h:link id="close" value="Close" outcome="faces/detail.xhtml"
						class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{addContactPerson.customerid}" />

					</h:link>


				</h:form>
				<h:messages style="color: red" />
			</f:view>
		</div>
	</div>
</body>
</html>
