<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:s="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Customer Detail</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">Customer Information</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{customerController.customer.customerID}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">First Name:</td>

					<td valign="bottom"><h:outputLabel id="firstname">#{customerController.customer.firstName}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Last Name:</td>

					<td valign="bottom"><h:outputLabel id="lastname">#{customerController.customer.lastName}</h:outputLabel>
					</td>
				</tr>
			</table>

			<table class="table table-bordered table-striped">
				<!-- For each contact in contactPerson ArrayList... -->
				<tr>
					<td><h:outputLabel id="contactId" value="Id" /></td>
					<td><h:outputLabel id="contactname" value="Contact Name" /></td>
					<td><h:outputLabel id="contactphone" value="Contact phone" /></td>

				</tr>

				<ui:repeat id="Myrepeat"
					value="#{customerController.customer.contacts}" var="contact"
					varStatus="status">

					<tr>
						<td><h:outputText value="#{contact.conactPersonId}"
								id="customerID" /></td>

						<td><h:outputText id="firstName" value="#{contact.name}" />
						</td>

						<td><h:outputText id="PhoneNumber"
								value="#{contact.phoneNumber}"></h:outputText></td>

						<td><h:link value="View | " outcome="faces/detail.xhtml">
								<!-- pass the parameter to next page, the param name is conactPersonId
                                You can get the value from next page using the indexController -->
								<f:param name="contactID" value="#{contact.conactPersonId}" />
							</h:link></td>
					</tr>
				</ui:repeat>
			</table>
			<div>
				<div>
					<h:commandButton value="Add New Contact Person"
						action="addContactPerson" class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{customerController.customer.customerID}" />
						<f:param name="customerID"
							value="#{customerController.customer.customerID}" />
					</h:commandButton>
				</div>
				<p></p>
			</div>
			<h:link id="close" value="Close" outcome="faces/index.xhtml"
				class="btn btn-primary" />

			<div>
				<p></p>
				<p>Select Industry</p>

				<!-- 	assign to which value -->
				<!-- 		value = #{customer.industry} -->
				<h:selectOneMenu value="#{customerController.selectedIndustry}">
					<!-- value list -->
					<s:selectItems value="#{customerController.industries}"
						label="#{customerController.industries}" />
				</h:selectOneMenu>

				<h:commandButton value="Submit" action="eFace">
					<f:param name="customerIndex"
						value="#{customerController.customer.customerID}" />
				</h:commandButton>

			</div>
		</h:form>
	</div>


</h:body>
</html>
