<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>AUS Printing Application</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Edit Customer Information
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                
                	<tr>
                        <td width ="150" valign="top">ID: </td>

                        <td valign="bottom">
                          <h:outputLabel id="Id">#{customerController.customer.customerID}</h:outputLabel>
                        </td>
                    </tr>
                    
                      <tr>
                        <td width ="100" valign="top">First Name: </td>

                        <td valign="bottom">
                            <h:inputText id = "firstname" value="#{CustomerController.customer.firstname}" binding="#{firstName}" required="true"
                                         validatorMessage="Please enter a text value"
                                                 requiredMessage="Please enter First Name. " >
                            </h:inputText>

                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Last Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "lastname" value="#{CustomerController.customer.lastname}"  binding="#{lastName}" required="true"
                                         validatorMessage="Please enter a text value."
                                         requiredMessage="Please enter Last Name. "></h:inputText>
                        </td>
                    </tr>

                </table>

                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerId" value="#{customerController.customer.customerID}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
