<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>AUS Printing Application</title>
</h:head>

<h:body style="background-image: url(~/images/print.jpg)" >
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">AUSPrinting - Customer List</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<tr>
					<td><h:outputLabel id="Id" value="Id" /></td>
					<td><h:outputLabel id="FirstName" value="FirstName" /></td>

					<td><h:outputLabel id="LastName" value="LastName" /></td>

				</tr>

				<ui:repeat id="Myrepeat" value="#{ausPrinting.customers}"
					var="customer" varStatus="status">

					<tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
						<td><h:outputText
								value="#{ausPrinting.customers.get(status.index).customerID}"
								id="customerID" /></td>

						<td><h:outputText id="firstName"
								value="#{ausPrinting.customers.get(status.index).firstName}" />
						</td>
						<td><h:outputText id="lastName"
								value="#{ausPrinting.customers.get(status.index).lastName}"></h:outputText>
						</td>
						<td>
						<h:link value="View | " outcome="faces/detail.xhtml">
                                <f:param name="customerIndex" value="#{customer.customerID}"/>
                              </h:link>
                        <h:link value="Edit | " outcome="faces/edit.xhtml">
                                <f:param name="customerIndex" value="#{customer.customerID}"/>
                              </h:link>
                        <h:link value="Remove" action="#{customerManagedBean.removeCustomer(ausPrinting.customers.get(status.index).customerID)}"> </h:link> 
                              
                              
						</td>
					</tr>
				</ui:repeat>
			</table>

			<div>
			    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />
				<h:commandButton id="viewAll" value="View All"
					action="#{searchCustomer.searchAll()}" class="btn btn-primary">
				</h:commandButton>
			</div>
			
			 <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.app.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
               
                
                
                
		</h:form>
	</div>
</h:body>
</html>
